* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-image: url(./img/desertbackground.png);
    object-fit: cover;
    background-repeat: no-repeat;


    font-family: 'Oleo Script', cursive;
}

canvas {
    background-color: black;
    margin: 0;
    z-index: 1;
    margin-top: 16px !important;
}

.imgButtons {
    object-fit: contain;
    position: absolute;
    height: 50px;
    width: 50px;
    color: black;
    cursor: pointer;
    z-index: 1;
}

.fullscreen {
    padding: 8px;
    cursor: pointer;
}

.controlPanel {
    display: flex;
    justify-content: space-between;
    z-index: 2;
}

.panelLeft {
    display: flex;
    position: absolute;
    bottom: 7px;
}

.panelRight {
    display: flex;
    position: absolute;
    bottom: 7px;
    right: 0;
}

.panelBtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
    margin-left: 12px;
    cursor: pointer;
}

.panelImg {
    width: 35px;
    height: 35px;
    padding: 2px;
    background-color: rgb(42, 169, 206);
    border-radius: 50%;
    border: 1px solid black;
    box-shadow: 0.5px 0.5px 1px 0.5px black;
    opacity: 70%;
}

.panelBtnText {
    font-size: 12px;
}


.responsiveBackground {
    display: none;
}

.responsiveText {
    display: none;
}


/* ---------- Smartphones --------- */
@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }

    .fullscreen {
        display: none;
    }

    .responsiveBackground {
        position: absolute !important;
        height: 100%;
        width: 100%;
        background-color: rgb(215, 152, 49);
        z-index: 3;
        opacity: 99%;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .responsiveText {
        display: block !important;
        padding: 8px;
        text-align: center;
    }

}


/* ---------- Smartphones --------- */
@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
        margin: 0;
    }

    .imgFullscreen {
        display: none;
    }
}