body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-image: url(./img/desertbackground.png);


    font-family: 'Oleo Script', cursive;
}

canvas {
    background-color: black;
    margin: 0;
}

.canvasContainer {
    position: relative;
    margin-top: 10vh;
}

.imgButtons {
    object-fit: contain;
    position: absolute;
    height: 50px;
    width: 50px;
    color: black;
    cursor: pointer;
    z-index: 1;
}

.imgFullscreen{
    object-fit: contain;
    position: absolute;
    height: 50px;
    width: 50px;
    color: black;
    cursor: pointer;

    top: 0px;
    right: 0px;
    z-index: 1;
}

.controlPanel{
    display: flex;
    justify-content: space-between;
}

.panel{
    display: flex;
}

.panelBtn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
    margin-left: 12px;
    cursor: pointer;
}

.panelImg{
    width: 55px;
    height: 55px;
    padding: 2px;
    background-color: rgb(42, 169, 206);
    border-radius: 50%;
}


/* ---------- Smartphones --------- */
@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }

    .canvasContainer {
        position: relative;
        margin-top: 0 !important;
    }

}


/* ---------- Smartphones --------- */
@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }

    .canvasContainer {
        position: relative;
        margin-top: 0 !important;
    }
}